@model TicketingSystem.ViewModels.TicketDetailsModel


<div class="row">
    <div class=" col-10 offset-1" style="text-align:center">

        <div class="card" style="width: 80vw;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h1>  @Model.Title  </h1></li>
                <li class="list-group-item"> <b> Status:</b> @Model.TicketStatus</li>
                <li class="list-group-item"> <b> Description:</b> @Model.Description</li>
                <li class="list-group-item"><p> <b>Date created:</b> @Model.DateCreated</p></li>

                @if (@Model.TicketStatus != TicketStatusType.Done)
                 {
                    <li class="list-group-item"><b>Change status to:</b> 


                        @if (User.HasClaim("IsAdmin", "True") && @Model.TicketStatus != TicketStatusType.Processing)
                        {
                            <form asp-controller="Ticket" asp-action="ChangeStatus" asp-route-ticketStatus="processing" method="post" class="m-2">
                                <input type="text" name="ticketId" value="@Model.Id"  hidden/>
                                <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure?')">Processing</button>
                            </form>
                        }

                             <form asp-controller="Ticket" asp-action="ChangeStatus" asp-route-ticketStatus="done" method="post" class="m-2">
                                <input type="text" name="ticketId" value="@Model.Id"  hidden/>
                                <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure?')">Done</button>
                            </form>
                    </li>
                 }
            </ul>
        </div>
    </div>
</div>

